* {
    /*Global setting for border box, no margins or padding, font family, and colors*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --backgroundc1: #f1dede;
    --mainc1: #d496a7;
    --mainc2: #5d576b;
    --textc1: #28262b;
    --accent1: #6cd4ff;
    --accent2: #fe938c;
}

.light-mode {
    /*This sets the default background and text colors for our light mode*/
    background-color: var(--backgroundc1);
    color: var(--textc1);
}

.dark-mode {
    /*This sets the default background and text colors for our dark mode*/
    background-color: var(--textc1);
    color: var(--backgroundc1);
}

header {
    /*This sets the minimum size of our header and where the content inside should be positioned*/
    min-height: 8.5vh;
    justify-content: space-between;
    align-items: center;
}

.light-mode #title {
    /*This sets our title's colors and indent in light mode*/
    color: var(--mainc2);
    background-color: var(--accent2);
    margin-left: 0.5vh;
    font-size: 1.25em;
}

.dark-mode #title {
    /*Dark mode colors for title*/
    color: var(--mainc1);
    background-color: var(--mainc2);
}

.light-mode nav {
    /*The light mode background color for our nav elements and centering them*/
    background-color: var(--accent2);

}

.dark-mode nav {
    /*Dark mode background color for nav*/
    background-color: var(--mainc2);
    min-width: 32%;
}

#mode-toggle {
    /*Setting the appearance, and how our cursor interacts with our light mode/
    dark mode toggle*/
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin: 0;
}

.light-mode #mode-toggle:hover {
    /*Shadow on moon button mode toggle while in light mode */   
    box-shadow: 0.5px 0.5px 15px var(--textc1);
    transition: 0.2s;
}

.dark-mode #mode-toggle:hover {
    /*Glow on sun button mode toggle while in dark mode */
    box-shadow: 0.5px 0.5px 15px var(--backgroundc1);
}

.light-mode #moon {
    /*The settings for our emoji moon mode toggle button while in light mode*/
    display: block;
    background-color: var(--accent2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.dark-mode #moon {
    /*Hides the moon in dark mode*/
    display: none;
}

.light-mode #sun {
    /*Hides the sun in light mode*/
    display: none;
}

.dark-mode #sun {
    /*The settings for our emoji moon mode toggle button while in light mode*/
    display: block;
    background-color: var(--mainc2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.light-mode .back-btn {
    /*Positioning and coloring our back button for light mode*/
    background-color: var(--backgroundc1);
    border: 3px solid var(--mainc2);
    color: var(--textc1);
    border-radius: 5px;
    margin: -0.25vh 0.5vh 0 0;
}

.dark-mode .back-btn {
    /*Coloring our back button for dark mode*/
    background-color: var(--textc1);
    border: 3px solid var(--accent2);
    color: var(--mainc1);
}

.light-mode .back-btn:hover {
    /*Changing the color of our back button and giving it a slight glow when hovered over in light mode*/
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode .back-btn:hover {
    /*Changing the color of our back button and text and giving it a slight glow when
    hovered over in dark mode*/
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

header nav a {
    /*Coloring the background and text for our back button, and making it not display as a link*/
    background-color: var(--accent2);
    color: var(--textc1);
    text-decoration: none;
    padding: 0.5vh;
    
}

.light-mode .header-wrapper {
    /*Making our page header flex and giving it a border in light mode*/
    display: flex;
    padding: 0.5vh;
    border-bottom: 1.75vh ridge var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .header-wrapper {
    /*Giving our page header a border in dark mode*/
    border-bottom: 1.75vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.light-mode .content {
    /*Setting the height of our page body in light mode and giving it borders*/
    min-height: 85vh;
    border-top: 0.4vh solid var(--mainc1);
    border-right: 0.75vh solid var(--mainc1);
    border-left: 0.75vh solid var(--mainc1);
    border-bottom: 0.1vh solid var(--mainc1);
}

.dark-mode .content {
    /*Giving our page body borders in dark mode*/
    border-top: 0.4vh solid var(--mainc2);
    border-right: 0.75vh solid var(--mainc2);
    border-left: 0.75vh solid var(--mainc2);
    border-bottom: 0.1vh solid var(--mainc2);
}

.light-mode .blog-post {
    /*Setting each blog post's sizing to fit snuggly within the content wrapper and
    giving it a thin border*/
    width: 99%;
    margin: 1% 0.5% 1% 0.5%;
    padding: 1%;
    border: 0.5vh solid var(--accent2);
}

.dark-mode .blog-post {
    /*Changing the blog posts' border colors in dark mode*/
    border: 0.5vh solid var(--mainc2);
}

.light-mode #post-title {
    /*Giving our blog post titles an underline, color, and slight indent*/
    text-decoration: underline;
    margin: 0 0.5vw 0 0.5vw;
    color: var(--textc1);
}

.dark-mode #post-title {
    /*Changing the blog post title text color in dark mode*/
    color: var(--accent2);
}

.light-mode #post-author {
    /*Changing our blog post author to be italic, giving it an indent and slight
    separation from the content, and a different color than the surrounding text*/
    font-style: italic;
    margin: 1vh 2vw 2vh 2vw;
    color: var(--mainc2);
}

.dark-mode #post-author {
    /*Changing the author text to be a different color than the surrounding text in dark mode*/
    color: var(--mainc1);
}

.light-mode #post-content {
    /*Positioning the post content within its box, setting the line height to
    make it more readable, and giving it color in light mode*/
    margin: 0 0.5vw 0 0.5vw;
    line-height: 1.4;
    color: var(--textc1);
}

.dark-mode #post-content {
    /*Setting post content text color in dark mode*/
    color: var(--accent2);
}

.light-mode .footer-wrapper {
    /*Making our footer sticky, positioned at the bottom of the viewport, giving it
    a border, and coloring the background in light mode*/
    position: sticky;
    bottom: 0px;
    display: flex;
    border-top: 1vh ridge var(--mainc2);
    background-color: var(--accent2);
    position: absolute;
    width: 100%;
    bottom: 0px;

}

.dark-mode .footer-wrapper {
    /*Changing the border and background color in dark mode*/
    border-top: 1vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.light-mode .footer {
    /*Setting the positioning properties for the child boxes in the footer, coloring
    the background in light mode*/
    margin: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2);
}

.dark-mode .footer {
    /*Coloring the background in dark mode*/
    background-color: var(--mainc2);
}

.light-mode #portfolio {
    /*Setting the appearance of the portfolio link button in light mode*/
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-style: oblique;
    border: 0.6vh solid var(--mainc2);
    border-radius: 5px;
    padding: 0.75vh;
    color: var(--textc1);
    background-color: var(--backgroundc1);
    font-size: 16px;
}

.dark-mode #portfolio {
    /*Changing the portfolio button's colors in dark mode*/
    border: 0.6vh solid var(--accent2);
    color: var(--mainc1);
    background-color: var(--textc1);
}

.light-mode #portfolio:hover {
    /*Making the portfolio button change color and glow when hovered over in light mode*/
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode #portfolio:hover {
    /*Making the portfolio button change color and glow when hovered over in dark mode*/
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.light-mode footer div h3 {
    /*Setting the footer tag message's position and color in light mode*/
    text-align: center;
    color: var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .end-tag {
    /*Coloring the footer tag in dark mode*/
    color: var(--mainc1);
    background-color: var(--mainc2);
}

.light-mode #copyright {
    /*Setting the copyright's position and color in light mode*/
    text-align: center;
    color: var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode #copyright {
   /*Coloring the copyright in dark mode*/
    align-content: center;
    color: var(--mainc1);
    background-color: var(--mainc2);
}

.light-mode #error-message {
    /*Positioning and coloring the message that's displayed when no blog posts
    are in local storage in light mode*/
    text-align: center;
    margin-top: 35vh;
    color: var(--textc1)
}

.dark-mode #error-message {
    /*Coloring the error message that's displayed when no blog posts are in
    local storage in dark mode*/
    color: var(--accent2)
}

.light-mode main div article h3 a {
    /*Coloring the link to create a blog post in the error message while in light mode.
    This custom color is to aid in visibility of the link.*/
    color: #003cff;
}

.light-mode main div article h3 a:hover {
    /*Slight glow while hovering in light mode*/
    box-shadow: 0.5px 0.5px 5px var(--accent1);
    transition: 0.2s;
}

.dark-mode main div article h3 a {
    /*Coloring the link to create a blog post in the error message while in dark mode*/
    color: var(--accent1);
}

.dark-mode main div article h3 a:hover {
    /*Slight glow while hovering in dark mode*/
    box-shadow: 0.5px 0.5px 5px var(--accent1);
    transition: 0.2s;
}

.hidden {
    /*When combined with our HTML and javascript, hiding the error message when there are
    blog posts in local storage*/
    display: none;
}


/*The following media queries are to fix formatting to cleanly display the page while in
various window sizes*/
@media screen and (max-width:576px) {
    .light-mode .content {
        min-height: 82.8vh;
    }
    .footer {
        font-size: 2.3vh;
    }

    .end-tag {
        font-size: 2.5vh;
    }

    #copyright {
        font-size: 2vh;
    }
}

@media screen and (max-width:430px) {
    #title {
        font-size: 5.5vh
    }
    .back-btn {
        border: 0.6vh solid var(--mainc2);
        margin: 0.5vh
    }
    .footer {
        margin: 0.5vh 0 0 0;
        display: grid;
        justify-content: center;
    }

    .end-tag {
        justify-self: center;
    }

    #copyright {
        justify-self: center;
    }
}

@media screen and (max-width:422px) {
    .light-mode .content {
        min-height: 84vh;
    }
    .footer {
        font-size: 2.25vh;
    }
    #portfolio {
        font-size: 2.5vh !important;
    }
    .end-tag {
        font-size: 2vh;
    }

    #copyright {
        font-size: 1.5vh;
    }
}

@media screen and (max-width:380px) {
    .light-mode .content {
        min-height: 83.5vh;
    }
    #title {
        font-size: 4.5vh;
        padding: 0.25vh
    }
    .back-btn {
        font-size: 2.4vh;
    }
}

@media screen and (max-width:345px) {
    #title {
        font-size: 3.5vh;
        padding: 1.25vh;
        align-self: center;
    }
}

@media screen and (max-width:325px) {
    .light-mode .content {
        min-height: 84.2vh;
    }
    .footer {
        font-size: 1.75vh;
    }
    .end-tag {
        font-size: 1.75vh;
    }
    #copyright {
        font-size: 1.25vh;
    }
}

@media screen and (max-width:315px) {
    .light-mode .content {
        min-height: 84vh;
    }
    #title {
        font-size: 3vh;

    }
    .back-btn {
        font-size: 2vh;
        border-radius: 5px;
        position: relative;
        top: 0.5vh;
        margin: 0 0 0 2vh;
    }
    .end-tag {
        font-size: 1.55vh;
    }
}

@media screen and (max-width:260px) {
    .light-mode .content {
        min-height: 84.21vh;
    }
    .footer {
        font-size: 1.5vh;
    }

    .end-tag {
        font-size: 1.25vh;
    }

    #copyright {
        font-size: 1vh;
    }
}

@media screen and (max-width:260px) {
    .light-mode .content {
        min-height: 84.3vh;
    }
    #title {
        font-size: 2.75vh;
    }
}

@media screen and (max-width:225px) {
    .light-mode .content {
        min-height: 84.5vh;
    }
    #title {
        font-size: 2.5vh;
    }
    .footer {
        font-size: 1.25vh;
    }
    .end-tag {
        font-size: 1.1vh;
    }
    #copyright {
        font-size: 1vh;
    }
}

@media screen and (max-width:193px) {
    .light-mode .content {
        min-height: 83vh;
    }
}

@media screen and (max-width:190px) {
    .light-mode .content {
        min-height: 80.6vh;
    }
}

@media screen and (max-width:158px) {
    .light-mode .content {
        min-height: 77.8vh;
    }
}