* {
    /*Global setting for our boxes, margins, paddings, fonts, and colors*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --backgroundc1: #f1dede;
    --mainc1: #d496a7;
    --mainc2: #5d576b;
    --textc1: #28262b;
    --accent1: #6cd4ff;
    --accent2: #fe938c;
}

.light-mode {
    /*Setting our default background and text colors in light mode*/
    background-color: var(--backgroundc1);
    color: var(--textc1);
}

.dark-mode {
    /*Setting our default background and text colors in dark mode*/
    background-color: var(--textc1);
    color: var(--backgroundc1);
}

header {
    /*Setting the position for our header and the content in it*/
    min-height: 8.5vh;
    justify-content: space-between;
    align-content: center;
}

.light-mode #title {
    /*This sets our title's colors and indent in light mode*/
    color: var(--mainc2);
    background-color: var(--accent2);
    margin-left: 3vh;
}

.dark-mode #title {
    /*Dark mode colors for title*/
    color: var(--mainc1);
    background-color: var(--mainc2);
}

.light-mode nav {
    /*The light mode background color for our nav elements and centering them*/
    background-color: var(--accent2);
    align-content: center
}

.dark-mode nav {
    /*Dark mode background color for nav*/
    background-color: var(--mainc2);
}

#mode-toggle {
    /*Setting the appearance, and how our cursor interacts with our light mode/
    dark mode toggle*/
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 16.3vh;
    top: 2vh
}

.light-mode #mode-toggle:hover {
    /*Shadow on moon button mode toggle while in light mode */   
    box-shadow: 0.5px 0.5px 15px var(--textc1);
    transition: 0.2s;
}

.dark-mode #mode-toggle:hover {
    /*Glow on sun button mode toggle while in dark mode */
    box-shadow: 0.5px 0.5px 15px var(--backgroundc1);
}

.light-mode #moon {
    /*The settings for our emoji moon mode toggle button while in light mode*/
    display: block;
    background-color: var(--accent2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.dark-mode #moon {
    /*Hides the moon in dark mode*/
    display: none;
}

.light-mode #sun {
    /*Hides the sun in light mode*/
    display: none;
}

.dark-mode #sun {
    /*The settings for our emoji moon mode toggle button while in light mode*/
    display: block;
    background-color: var(--mainc2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.light-mode .back-btn {
    /*Positioning and coloring our back button for light mode*/
    background-color: var(--backgroundc1);
    border: 3px solid var(--mainc2);
    color: var(--textc1);
    border-radius: 5px;
    position: relative;
    top: -0.2vh;
    margin: 0 2vh 0 2vh;
}

.dark-mode .back-btn {
    /*Coloring our back button for dark mode*/
    background-color: var(--textc1);
    border: 3px solid var(--accent2);
    color: var(--mainc1);
}

.light-mode .back-btn:hover {
    /*Changing the color of our back button and giving it a slight glow when hovered over in light mode*/
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode .back-btn:hover {
    /*Changing the color of our back button and text and giving it a slight glow when
    hovered over in dark mode*/
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

header nav a {
    /*Coloring the background and text for our back button, and making it not display as a link*/
    background-color: var(--accent2);
    color: var(--textc1);
    text-decoration: none;
    padding: 0.5vh;
    
}

.light-mode .header-wrapper {
    /*Making our page header flex and giving it a border in light mode*/
    display: flex;
    padding: 0.5vh;
    border-bottom: 1.75vh ridge var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .header-wrapper {
    /*Giving our page header a border in dark mode*/
    border-bottom: 1.75vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.content-wrapper {
    /*Setting the content wrapper's size*/
    display: block;
    width: 99%;
    height: 79.8vh
}

.light-mode .content {
    /*Setting the height of our page body in light mode and giving it borders*/
    min-height: 82.18096421vh;
    border-top: 0.4vh solid var(--mainc1);
    border-right: 0.75vh solid var(--mainc1);
    border-left: 0.75vh solid var(--mainc1);
}

.dark-mode .content {
    /*Giving our page body borders in dark mode*/
    border-top: 0.4vh solid var(--mainc2);
    border-right: 0.75vh solid var(--mainc2);
    border-left: 0.75vh solid var(--mainc2);
}

.light-mode main div form div label {
    /*Coloring the text for our form labels in light mode*/
    color: var(--textc1);
}

.dark-mode main div form div label {
    /*Coloring the text for our form labels in dark mode*/
    color: var(--accent2);
}

.light-mode #username, .light-mode #blog-title, .light-mode #blog-content {
    /*Displaying our form labels and inputs in flex positioning and coloring the backgrounds
    in light mode*/
    display: flex;
    background-color: var(--accent2);
}

.light-mode #username, .light-mode #blog-title {
    /*Making our username and title inputs half of their boxes by default*/
    width: 50%;
}

.light-mode #blog-content {
    /*Setting our content input to fill all of its box*/
    width: 100%;
}

.dark-mode #username, .dark-mode #blog-title, .dark-mode #blog-content {
    /*Coloring our labels in dark mode*/
    background-color: var(--mainc2);
    color: var(--accent2);
}

#blog-content {
    /*Making our content box large, making sure that entered text wraps to a new line
    instead of continuing past the boundaries, and letting entered text stay within the
    vertical bounds of the input box*/
    min-height: 44vh;
    word-wrap: break-word;
    overflow-y: auto;
}

.light-mode main div form button {
    /*Setting the position and colors of our submit button in light mode*/
    position: absolute;
    bottom: 10.1vh;
    left: 32%;
    width: 33%;
    height: 5.5vh;
    background-color: var(--accent2);
    color: var(--textc1);
    border: 2px ridge var(--mainc2);
}

.dark-mode main div form button {
    /*Setting our submit button's colors in dark mode*/
    background-color: var(--mainc2);
    color: var(--accent2);
    border: 2px ridge var(--accent2);
}

.light-mode main div form button:hover {
    /*Making our submit button change the cursor to a finger, changing its color, and making
    it glow when hovered over in light mode*/
    cursor: pointer;
    background-color: var(--accent1);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--accent2);
    transition: 0.2s;
}

.dark-mode main div form button:hover {
    /*Changing the color and making our submit button glow while in dark mode*/
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.light-mode form, .light-mode .sidebar {
    /*Positioning our decorative sidebar*/
    display: inline;
}

form {
    /*Having our blog form fill its box entirely*/
    height: 100%;
}

#sidebar {
    /*Giving out sidebar size and positioning it within the page so that it doesn't move
    and displays behind our content*/
    width: 35vh;
    position: absolute;
    top: 10vh;
    right: 2.5vh;
    height: 30vh;
    z-index: -1;
}

#blog-accent-logo {
    /*Linking to our sidebar image and giving it size within its parent element*/
    width: 97.5%;
    height: 100%;
    position: inherit;
    margin-left: 2.5%;
    background-image: url("../BlogAccentLogo.png");
    background-size: cover;
    background-position: top;
}

.form-group-a {
    /*Giving our username and title inputs height and positioning*/
    height: 5%;
    margin: 2vh 1vh 8vh 2vh;
}

.form-group-b {
    /*Giving our blog content input height and positioning*/
    height: 50%;
    margin: 2vh 1vh 5vh 2vh;
}

.light-mode main div form div input,
.light-mode main div form div textarea {
    /*Setting the text color for our inputs in light mode*/
    color: var(--textc1);
}

.dark-mode main div form div input,
.dark-mode main div form div textarea {
    /*Setting the text color for our inputs in dark mode*/
    color: var(--backgroundc1);
}

.light-mode .footer-wrapper {
    /*Making our footer sticky, positioned at the bottom of the viewport, giving it
    a border, and coloring the background in light mode*/
    position: sticky;
    bottom: 0px;
    display: flex;
    border-top: 1vh ridge var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .footer-wrapper {
    /*Changing the border and background color in dark mode*/
    border-top: 1vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.light-mode .footer {
    /*Setting the positioning properties for the child boxes in the footer, coloring
    the background in light mode*/
    margin: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent2);
}

.dark-mode .footer {
    /*Coloring the background in dark mode*/
    background-color: var(--mainc2);
}

.light-mode #portfolio {
    /*Setting the appearance of the portfolio link button in light mode*/
    text-decoration: none;
    font-style: oblique;
    border: 0.6vh solid var(--mainc2);
    border-radius: 5px;
    padding: 0.75vh;
    color: var(--textc1);
    background-color: var(--backgroundc1);
}

.dark-mode #portfolio {
    /*Changing the portfolio button's colors in dark mode*/
    border: 0.6vh solid var(--accent2);
    color: var(--mainc1);
    background-color: var(--textc1);
}

.light-mode #portfolio:hover {
    /*Making the portfolio button change color and glow when hovered over in light mode*/
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode #portfolio:hover {
    /*Making the portfolio button change color and glow when hovered over in dark mode*/
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.light-mode .end-tag {
    /*Setting the footer tag message's position and color in light mode*/
    align-content: center;
    color: var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .end-tag {
    /*Coloring the footer tag in dark mode*/
    color: var(--mainc1);
    background-color: var(--mainc2);
}

.light-mode #copyright {
    /*Setting the copyright's position and color in light mode*/
    align-content: center;
    color: var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode #copyright {
   /*Coloring the copyright in dark mode*/
    align-content: center;
    color: var(--mainc1);
    background-color: var(--mainc2);
}

/*The following media queries are to fix formatting to cleanly display the page while in
various window sizes. The sidebar is hidden at screen widths of 305 pixels or fewer.*/
@media screen and (max-width:720px) {
    .content-wrapper {
        width: 97vw;
    }
    main div form button {
        left: 35vw;
        width: 30vw;
    }
}

@media screen and (max-width:485px) {
    .light-mode .content {
        min-height: 82.7vh;
    }
    #title {
        font-size: 5vh;
        margin-left: 1vh;
    }
    .form-group-b {
        height: 7vh;
        width: 93vw;
    }
    .content-wrapper {
        width: 97vw;
        height: 75vh
    }
    main div form button {
        left: 35vw;
        width: 30vw;
    }
}

@media screen and (max-width:463px) {
    .light-mode .content {
        min-height: 83.3vh;
    }
    #title {
        font-size: 4.75vh;
    }
    .footer {
        font-size: 2.5vh;
        margin: 0.5vh 0 0 0;
        display: block;
    }
    .end-tag {
        font-size: 2.25vh;
    }
    #copyright {
        font-size: 2vh;
    }
}

@media screen and (max-width:430px) {
    #title {
        font-size: 4.3vh;
        margin-top: 0.5vh;
    }
    #sidebar {
        width: 32.5vh;
        right: 1vh;
    }
}

@media screen and (max-width:395px) {
    #mode-toggle {
        position: absolute;
        right: 12.5vh;
    }
    #title {
        font-size: 4vh;
        margin-top: 0.5vh;
    }
    .back-btn {
        font-size: 2vh;
    }
    .form-group-b {
        width: 92vw;
    }
}

@media screen and (max-width:380px) {
    .light-mode .content {
        min-height: 84vh;
    }
    #mode-toggle {
        position: absolute;
        right: 13vh;
    }
    #title {
        font-size: 3.5vh;
        padding: 0.25vh
    }
    .back-btn {
        font-size: 2.4vh;
    }
    .form-group-a {
        width: 90%;
    }
    .footer {
        font-size: 1.8vh;
        margin: 0.5vh 0 0 0;
        display: block;
    }
    .end-tag {
        font-size: 2vh;
    }
    #copyright {
        font-size: 1.5vh;
    }
}

@media screen and (max-width:335px) {
    .content {
        min-height: 79vh;
    }
    #mode-toggle {
        position: absolute;
        right: 12vh;
    }
    #title {
        font-size: 3vh;
        margin-top: 1vh;
        padding: 0.25vh
    }
    .back-btn {
        font-size: 2vh;
    }
    .form-group-a {
        width: 80%;
    }
    .form-group-b {
        width: 91vw;
    }
    .footer {
        margin: 0.5vh 0 0 0;
        display: block;
    }

    .end-tag {
        font-size: 1.8vh
    }

    #copyright {
        max-width: 10%;
        font-size: 1.5vh;
    }
}

@media screen and (max-width:305px) {
    .light-mode .content {
        min-height: 84vh;
    }
    #title {
        font-size: 2.75vh;
        padding: 0vh;
        align-self: center;
    }
    .back-btn {
        font-size: 2vh;
        border-radius: 5px;
        position: relative;
        top: 0.5vh;
        margin: 0 0 0 1vh;
    }
    .light-mode #username, .light-mode #blog-title {
        width: 100%;
    }
    .form-group-a {
        width: 90%;
    }
    .form-group-b {
        width: 88vw;
    }
    .light-mode main div form button {
        position: absolute;
        bottom: 10.5vh;
    }
    #blog-accent-logo {
        display: none;
    }
    .end-tag {
        font-size: 1.5vh
    }
    #copyright {
        max-width: 10%;
        font-size: 1vh;
    }
}

@media screen and (max-width:290px) {
    .light-mode .content {
        min-height: 84vh;
    }
    #title {
        font-size: 2.5vh;
    }
    .light-mode main div form button {
        position: absolute;
        bottom: 9.75vh;
        height: 5vh
    }
}

@media screen and (max-width:254px) {
    .content-wrapper {
        height: 75vh
    }
    .form-group-a {
        width: 86vw;
    }
    .form-group-b {
        width: 86vw;;
    }
}

@media screen and (max-width:253px) {
    .light-mode .content {
        min-height: 81.9vh;
    }
    .content-wrapper {
        height: 75vh;
        width: 90vw
    }
    .form-group-a {
        width: 83vw;
    }
    .form-group-b {
        width: 83vw;;
    }
    .light-mode main div form button {
        position: absolute;
        bottom: 10.75vh;
        height: 5vh
    }
}

@media screen and (max-width:237px) {
    .light-mode .content {
        min-height: 81vh;
    }
}

@media screen and (max-width:171px) {
    .light-mode .content {
        min-height: 78.9vh;
    }
}