* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --backgroundc1: #f1dede;
    --mainc1: #d496a7;
    --mainc2: #5d576b;
    --textc1: #28262b;
    --accent1: #6cd4ff;
    --accent2: #fe938c;
}

.light-mode {
    background-color: var(--backgroundc1);
    color: var(--textc1);
}

.dark-mode {
    background-color: var(--textc1);
    color: var(--backgroundc1);
}

header {
    min-height: 8.5vh;
    justify-content: space-between;
    align-content: center;
}

.light-mode #title {
    color: var(--textc1);
    background-color: var(--accent2);
}

.dark-mode #title {
    color: var(--accent2);
    background-color: var(--mainc2);
}

.light-mode nav {
    background-color: var(--accent2);
    align-content: center
}

.dark-mode nav {
    background-color: var(--mainc2);
}

#mode-toggle {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 16.3vh;
    top: 2vh
}

#mode-toggle:hover {
    box-shadow: 0.5px 0.5px 15px var(--backgroundc1);
    transition: 0.2s;
}

.light-mode #moon {
    display: block;
    background-color: var(--accent2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.dark-mode #moon {
    display: none;
}

.light-mode #sun {
    display: none;
}

.dark-mode #sun {
    display: block;
    background-color: var(--mainc2);
    border-radius: 50%;
    font-size: 4vh;
    text-align: center;
    line-height: 3.1vh;
}

.light-mode .back-btn {
    background-color: var(--backgroundc1);
    border: 3px solid var(--mainc2);
    color: var(--textc1);
    border-radius: 5px;
    position: relative;
    top: -0.2vh;
    margin: 0 2vh 0 2vh;
}

.dark-mode .back-btn {
    background-color: var(--textc1);
    border: 3px solid var(--accent2);
    color: var(--mainc1);
}

.light-mode .back-btn:hover {
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode .back-btn:hover {
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

header nav a {
    background-color: var(--accent2);
    color: var(--textc1);
    text-decoration: none;
    padding: 0.5vh;
    
}

.light-mode .header-wrapper {
    display: flex;
    padding: 0.5vh;
    border-bottom: 1.75vh ridge var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .header-wrapper {
    border-bottom: 1.75vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.light-mode .content {
    min-height: 82.18096421vh;
    border-top: 0.4vh solid var(--mainc1);
    border-right: 0.75vh solid var(--mainc1);
    border-left: 0.75vh solid var(--mainc1);
}

.dark-mode .content {
    border-top: 0.4vh solid var(--mainc2);
    border-right: 0.75vh solid var(--mainc2);
    border-left: 0.75vh solid var(--mainc2);
}

.light-mode .footer-wrapper {
    position: sticky;
    bottom: 0px;
    display: flex;
    border-top: 1vh ridge var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode .footer-wrapper {
    border-top: 1vh ridge var(--textc1);
    background-color: var(--mainc2);
}

.light-mode .footer {
    margin: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent2);
}

.dark-mode .footer {
    background-color: var(--mainc2);
}

.light-mode #portfolio {
    text-decoration: none;
    font-style: oblique;
    border: 0.6vh solid var(--mainc2);
    border-radius: 5px;
    padding: 0.75vh;
    color: var(--textc1);
    background-color: var(--backgroundc1);
}

.dark-mode #portfolio {
    border: 0.6vh solid var(--accent2);
    color: var(--mainc1);
    background-color: var(--textc1);
}

.light-mode #portfolio:hover {
    background-color: var(--accent1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.dark-mode #portfolio:hover {
    background-color: var(--accent2);
    color: var(--textc1);
    box-shadow: 0.5px 0.5px 5px var(--backgroundc1);
    transition: 0.2s;
}

.light-mode .end-tag {
    align-content: center;
    color: var(--textc1);
    background-color: var(--accent2);
}

.dark-mode .end-tag {
    color: var(--accent2);
    background-color: var(--mainc2);
}

.light-mode #copyright {
    align-content: center;
    color: var(--mainc2);
    background-color: var(--accent2);
}

.dark-mode #copyright {
    align-content: center;
    color: var(--mainc1);
    background-color: var(--mainc2);
}

@media screen and (max-width:576px) {
    .light-mode .content {
        min-height: 82.8vh;
    }
    .footer {
        font-size: 2.3vh;
    }

    .end-tag {
        font-size: 2.5vh;
    }

    #copyright {
        font-size: 2vh;
    }
}

@media screen and (max-width:430px) {
    #title {
        font-size: 5.5vh
    }
    #mode-toggle {
        right: 13vh;
        top: 2vh;
    }
    .back-btn {
        border: 0.6vh solid var(--mainc2);
        margin: 0.5vh
    }
    .footer {
        margin: 0.5vh 0 0 0;
        display: grid;
        justify-content: center;
    }

    .end-tag {
        justify-self: center;
    }

    #copyright {
        justify-self: center;
    }
}

@media screen and (max-width:422px) {
    .light-mode .content {
        min-height: 82.8vh;
    }
    .footer {
        font-size: 2.25vh;
    }

    .end-tag {
        font-size: 2vh;
    }

    #copyright {
        font-size: 1.5vh;
    }
}

@media screen and (max-width:380px) {
    .light-mode .content {
        min-height: 83.5vh;
    }
    #title {
        font-size: 4.5vh;
        padding: 0.25vh
    }
    .back-btn {
        font-size: 2.4vh;
    }
}

@media screen and (max-width:325px) {
    .light-mode .content {
        min-height: 84.2vh;
    }
    .footer {
        font-size: 1.75vh;
    }

    .end-tag {
        font-size: 1.5vh;
    }

    #copyright {
        font-size: 1.25vh;
    }
}

@media screen and (max-width:315px) {
    .light-mode .content {
        min-height: 84vh;
    }
    #title {
        font-size: 3vh;
        padding: 1.25vh;
        align-self: center;
    }
    #mode-toggle {
        position: absolute;
        right: 10vh;
    }
    .back-btn {
        font-size: 2vh;
        border-radius: 5px;
        position: relative;
        top: 0.5vh;
        margin: 0 0 0 2vh;
    }
}

@media screen and (max-width:260px) {
    .light-mode .content {
        min-height: 84.21vh;
    }
    .footer {
        font-size: 1.5vh;
    }

    .end-tag {
        font-size: 1.25vh;
    }

    #copyright {
        font-size: 1vh;
    }
}

@media screen and (max-width:260px) {
    .light-mode .content {
        min-height: 84.3vh;
    }
    #title {
        font-size: 2.75vh;
    }
}

@media screen and (max-width:225px) {
    .light-mode .content {
        min-height: 84.5vh;
    }
    #title {
        font-size: 2.5vh;
    }
    .footer {
        font-size: 1.25vh;
    }

    .end-tag {
        font-size: 1.1vh;
    }

    #copyright {
        font-size: 1vh;
    }
}

@media screen and (max-width:193px) {
    .light-mode .content {
        min-height: 83vh;
    }
}

@media screen and (max-width:190px) {
    .light-mode .content {
        min-height: 80.6vh;
    }
}

@media screen and (max-width:158px) {
    .light-mode .content {
        min-height: 77.8vh;
    }
}